# HOMEWORK 1

In [1]:
import pandas as pd
import duckdb as ddb
import yfinance as yf

## Question 1: [Index] S&P 500 Stocks Added to the Index
Which year had the highest number of additions?

In [2]:
# Pull the table from WIKI as dataframe
wiki_tables = pd.read_html("https://en.wikipedia.org/wiki/List_of_S%26P_500_companies")
sp500_df = wiki_tables[0]              
sp500_df

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [3]:
# Extract year from "Date Added" column
sp500_df['year_added'] = pd.to_datetime(sp500_df['Date added']).dt.year

# Find out value counts for each year added
sp500_df.year_added.value_counts()

year_added
1957    53
2016    23
2017    23
2019    22
2008    17
2022    16
2024    16
2023    15
2021    15
2012    14
1997    14
2015    14
2018    14
2002    13
2007    12
2009    12
2020    12
1998    11
1976    11
2013    10
2006    10
2011    10
2000     9
1999     9
2010     9
2001     8
2014     8
1994     7
2005     7
1995     7
1985     7
2004     6
1982     5
1989     5
2025     5
1984     5
2003     5
1988     4
1986     3
1993     3
1983     3
1981     3
1992     3
1980     3
1972     2
1987     2
1969     2
1996     2
1965     2
1973     2
1975     2
1970     2
1979     2
1974     1
1991     1
1964     1
1978     1
Name: count, dtype: int64

## Question 2. [Macro] Indexes YTD (as of 1 May 2025)
How many indexes (out of 10) have better year-to-date returns than the US (S&P 500) as of May 1, 2025?

In [9]:
# Download data from yahoo finance
tickers = ['^GSPC','000001.SS','^HSI','^AXJO','^NSEI','^GSPTSE','^GDAXI','^FTSE','^N225','^MXX','^BVSP']
start_date = '2025-01-01'
end_date = '2025-05-01'
dat = yf.download(tickers, 
                  start=start_date, 
                  end=end_date,
                  )
dat

[*********************100%***********************]  11 of 11 completed

Price             Close                                                    \
Ticker        000001.SS        ^AXJO     ^BVSP        ^FTSE        ^GDAXI
Date
2025-01-01          NaN          NaN       NaN          NaN           NaN
2025-01-02  3262.561035  8201.200195  120125.0  8260.099609  20024.660156
2025-01-03  3211.429932  8250.500000  118533.0  8224.000000  19906.080078
2025-01-06  3206.923096  8288.500000  120022.0  8249.700195  20216.189453
2025-01-07  3229.644043  8285.099609  121163.0  8245.299805  20340.570312
...                 ...          ...       ...          ...           ...
2025-04-24  3297.288086  7968.200195  134580.0  8407.400391  22064.509766
2025-04-25  3295.060059          NaN  134739.0  8415.299805  22242.449219
2025-04-28  3288.415039  7997.100098  135016.0  8417.299805  22271.669922
2025-04-29  3286.655029  8070.600098  135093.0  8463.500000  22425.830078
2025-04-30  3279.031006  8126.200195  135067.0  8494.900391  22496.980469

Price                                                              \
Ticker            ^GSPC       ^GSPTSE          ^HSI          ^MXX
Date
2025-01-01          NaN           NaN           NaN           NaN
2025-01-02  5868.549805  24898.000000  19623.320312  49765.199219
2025-01-03  5942.470215  25073.500000  19760.269531  48957.238281
2025-01-06  5975.379883  24999.800781  19688.289062  49493.558594
2025-01-07  5909.029785  24929.900391  19447.580078  50085.500000
...                 ...           ...           ...           ...
2025-04-24  5484.770020  24727.500000  21909.759766  56382.000000
2025-04-25  5525.209961  24710.500000  21980.740234  56720.121094
2025-04-28  5528.750000  24798.599609  21971.960938  56980.128906
2025-04-29  5560.830078  24874.500000  22008.109375  55613.429688
2025-04-30  5569.060059  24841.699219  22119.410156  56259.281250

Price                     ...    Volume                                        \
Ticker             ^N225  ...     ^AXJO       ^BVSP         ^FTSE      ^GDAXI
Date                      ...
2025-01-01           NaN  ...       NaN         NaN           NaN         NaN
2025-01-02           NaN  ...  304400.0   9373600.0  4.222199e+08  52445600.0
2025-01-03           NaN  ...  329100.0   9804400.0  7.425039e+08  44372900.0
2025-01-06  39307.050781  ...   52200.0   9685600.0  7.662447e+08  70784900.0
2025-01-07  40083.300781  ...  424300.0  11116400.0  7.415068e+08  62020000.0
...                  ...  ...       ...         ...           ...         ...
2025-04-24  35039.148438  ...  639100.0  14113400.0  1.126606e+09  62636800.0
2025-04-25  35705.738281  ...       NaN  13051800.0  8.027340e+08  70917400.0
2025-04-28  35839.988281  ...  769000.0  11449700.0  7.387417e+08  55883200.0
2025-04-29           NaN  ...  710800.0  12761100.0  6.559248e+08  75547100.0
2025-04-30  36045.378906  ...  889500.0  15452400.0  1.589592e+09  99189800.0

Price                                                                          \
Ticker             ^GSPC      ^GSPTSE          ^HSI         ^MXX        ^N225
Date
2025-01-01           NaN          NaN           NaN          NaN          NaN
2025-01-02  3.621680e+09  215089400.0  4.033400e+09   87535300.0          NaN
2025-01-03  3.667340e+09  186569100.0  3.393800e+09  112782300.0          NaN
2025-01-06  4.940120e+09  239976800.0  2.465700e+09  139872100.0  137900000.0
2025-01-07  4.517330e+09  237759800.0  3.581000e+09  142173400.0  127000000.0
...                  ...          ...           ...          ...          ...
2025-04-24  4.697710e+09  224419200.0  2.985800e+09  249950000.0  137100000.0
2025-04-25  4.236580e+09  214234300.0  3.025700e+09  217532100.0  134700000.0
2025-04-28  4.257880e+09  224287200.0  2.466000e+09  193000200.0  132400000.0
2025-04-29  4.747150e+09  199905200.0  3.045200e+09  240938000.0          NaN
2025-04-30  5.449490e+09  271264200.0  4.682300e+09  226957400.0  167100000.0

Price
Ticker         ^NSEI
Date
2025-01-01  154900.0
2025-01-02  283200.0
2025-01-03  312300.0
2025-01-06  278100.0
2025-01-07  262300.0
...              ...
2025-04-24  358800.0
2025-04-25  387700.0
2025-04-28  320500.0
2025-04-29  357600.0
2025-04-30  424500.0

[86 rows x 55 columns]

## Question 3. [Index] S&P 500 Market Corrections Analysis
Calculate the median duration (in days) of significant market corrections in the S&P 500 index.

## Question 4. [Stocks] Earnings Surprise Analysis for Amazon (AMZN)
Calculate the median 2-day percentage change in stock prices following positive earnings surprises days.