# HOMEWORK 1

In [2]:
import pandas as pd
import duckdb as ddb
import yfinance as yf

## Question 1: [Index] S&P 500 Stocks Added to the Index
Which year had the highest number of additions?

In [3]:
# Pull the table from WIKI as dataframe
wiki_tables = pd.read_html("https://en.wikipedia.org/wiki/List_of_S%26P_500_companies")
sp500_df = wiki_tables[0]              
sp500_df

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [4]:
# Extract year from "Date Added" column
sp500_df['year_added'] = pd.to_datetime(sp500_df['Date added']).dt.year

# Find out value counts for each year added
sp500_df.year_added.value_counts()

year_added
1957    53
2016    23
2017    23
2019    22
2008    17
2022    16
2024    16
2023    15
2021    15
2012    14
1997    14
2015    14
2018    14
2002    13
2007    12
2009    12
2020    12
1998    11
1976    11
2013    10
2006    10
2011    10
2000     9
1999     9
2010     9
2001     8
2014     8
1994     7
2005     7
1995     7
1985     7
2004     6
1982     5
1989     5
2025     5
1984     5
2003     5
1988     4
1986     3
1993     3
1983     3
1981     3
1992     3
1980     3
1972     2
1987     2
1969     2
1996     2
1965     2
1973     2
1975     2
1970     2
1979     2
1974     1
1991     1
1964     1
1978     1
Name: count, dtype: int64

## Question 2. [Macro] Indexes YTD (as of 1 May 2025)
How many indexes (out of 10) have better year-to-date returns than the US (S&P 500) as of May 1, 2025?

In [18]:

tickers = {
    "S&P 500":         "^GSPC",
    "Shanghai (CN)":   "000001.SS",
    "Hang Seng (HK)":  "^HSI",
    "ASX 200 (AU)":    "^AXJO",
    "Nifty 50 (IN)":   "^NSEI",
    "TSX (CA)":        "^GSPTSE",
    "DAX (DE)":        "^GDAXI",
    "FTSE 100 (UK)":   "^FTSE",
    "Nikkei 225 (JP)": "^N225",
    "IPC Mexico (MX)": "^MXX",
    "Ibovespa (BR)":   "^BVSP"
}

start_date = "2025-01-01"
end_date   = "2025-05-01"

In [31]:
# For each ticker, download just that one; find first & last valid Close
ytd_returns = {}

for name, ticker in tickers.items():
    # Download one ticker
    data = yf.download(ticker, start=start_date, end=end_date, progress=False)["Close"]

    # Find the first non-NaN index (first trading day)
    first_idx = data.first_valid_index()
    # Find the last non-NaN index (last trading day)
    last_idx  = data.last_valid_index()

    if (first_idx is not None) and (last_idx is not None):
        # Pull out the float values directly:
        first_price = float(data.loc[first_idx])
        last_price  = float(data.loc[last_idx])
        ytd = (last_price - first_price) / first_price * 100.0
    else:
        # No valid prices at all mark as NaN
        ytd = float("nan")

    ytd_returns[name] = ytd

/var/folders/ps/lmbtyvg537g3811drk5y9p340000gn/T/ipykernel_24667/2542594743.py:18: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  first_price = float(data.loc[first_idx])
/var/folders/ps/lmbtyvg537g3811drk5y9p340000gn/T/ipykernel_24667/2542594743.py:19: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  last_price  = float(data.loc[last_idx])
/var/folders/ps/lmbtyvg537g3811drk5y9p340000gn/T/ipykernel_24667/2542594743.py:18: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  first_price = float(data.loc[first_idx])
/var/folders/ps/lmbtyvg537g3811drk5y9p340000gn/T/ipykernel_24667/2542594743.py:19: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  last_price  = float(data.loc[last_idx])
/var/folders/ps/lmbtyvg537g3811drk5y9p340000gn/T/ipykernel_24667/2542594743.py:18: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  first_price = float(data.loc[first_idx])
/var/folders/ps/lmbtyvg537g3811drk5y9p340000gn/T/ipykernel_24667/2542594743.py:19: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  last_price  = float(data.loc[last_idx])
/var/folders/ps/lmbtyvg537g3811drk5y9p340000gn/T/ipykernel_24667/2542594743.py:18: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  first_price = float(data.loc[first_idx])
/var/folders/ps/lmbtyvg537g3811drk5y9p340000gn/T/ipykernel_24667/2542594743.py:19: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  last_price  = float(data.loc[last_idx])
/var/folders/ps/lmbtyvg537g3811drk5y9p340000gn/T/ipykernel_24667/2542594743.py:18: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  first_price = float(data.loc[first_idx])
/var/folders/ps/lmbtyvg537g3811drk5y9p340000gn/T/ipykernel_24667/2542594743.py:19: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  last_price  = float(data.loc[last_idx])
/var/folders/ps/lmbtyvg537g3811drk5y9p340000gn/T/ipykernel_24667/2542594743.py:18: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  first_price = float(data.loc[first_idx])
/var/folders/ps/lmbtyvg537g3811drk5y9p340000gn/T/ipykernel_24667/2542594743.py:19: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  last_price  = float(data.loc[last_idx])
/var/folders/ps/lmbtyvg537g3811drk5y9p340000gn/T/ipykernel_24667/2542594743.py:18: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  first_price = float(data.loc[first_idx])
/var/folders/ps/lmbtyvg537g3811drk5y9p340000gn/T/ipykernel_24667/2542594743.py:19: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  last_price  = float(data.loc[last_idx])
/var/folders/ps/lmbtyvg537g3811drk5y9p340000gn/T/ipykernel_24667/2542594743.py:18: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  first_price = float(data.loc[first_idx])
/var/folders/ps/lmbtyvg537g3811drk5y9p340000gn/T/ipykernel_24667/2542594743.py:19: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  last_price  = float(data.loc[last_idx])
/var/folders/ps/lmbtyvg537g3811drk5y9p340000gn/T/ipykernel_24667/2542594743.py:18: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  first_price = float(data.loc[first_idx])
/var/folders/ps/lmbtyvg537g3811drk5y9p340000gn/T/ipykernel_24667/2542594743.py:19: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  last_price  = float(data.loc[last_idx])
/var/folders/ps/lmbtyvg537g3811drk5y9p340000gn/T/ipykernel_24667/2542594743.py:18: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  first_price = float(data.loc[first_idx])
/var/folders/ps/lmbtyvg537g3811drk5y9p340000gn/T/ipykernel_24667/2542594743.py:19: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  last_price  = float(data.loc[last_idx])
/var/folders/ps/lmbtyvg537g3811drk5y9p340000gn/T/ipykernel_24667/2542594743.py:18: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  first_price = float(data.loc[first_idx])
/var/folders/ps/lmbtyvg537g3811drk5y9p340000gn/T/ipykernel_24667/2542594743.py:19: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  last_price  = float(data.loc[last_idx])

In [32]:
ytd_returns

{'S&P 500': -5.10330074824504,
 'Shanghai (CN)': 0.5048172440500021,
 'Hang Seng (HK)': 12.720017835921466,
 'ASX 200 (AU)': -0.9145002952478493,
 'Nifty 50 (IN)': 2.4904237409784913,
 'TSX (CA)': -0.22612571792915093,
 'DAX (DE)': 12.34637838149953,
 'FTSE 100 (UK)': 2.8425901908435485,
 'Nikkei 225 (JP)': -8.297930804200304,
 'IPC Mexico (MX)': 13.049444457570319,
 'Ibovespa (BR)': 12.438709677419354}

In [34]:
# Count how many of the OTHER ten have ytd > spx_return
beat_count = 0
spx_return = ytd_returns["S&P 500"]
for name, ret in ytd_returns.items():
    if name == "S&P 500":
        continue
    # comparison
    if (not pd.isna(ret)) and (ret > spx_return):
        beat_count += 1

beat_count

9

In [35]:
# Tabulate all results
df = (
    pd.DataFrame.from_dict(ytd_returns, orient="index", columns=["YTD (%)"])
      .sort_values("YTD (%)", ascending=False)
)

print(f"S&P 500 YTD (Jan→May 2025): {spx_return:.2f}%\n")
print("All indices’ YTD returns (sorted):")
print(df.to_string(float_format=lambda x: f"{x:>7.2f}%"))
print(f"\nNumber of indexes (out of 10) beating S&P 500: {beat_count}")

S&P 500 YTD (Jan→May 2025): -5.10%

All indices’ YTD returns (sorted):
                 YTD (%)
IPC Mexico (MX)   13.05%
Hang Seng (HK)    12.72%
Ibovespa (BR)     12.44%
DAX (DE)          12.35%
FTSE 100 (UK)      2.84%
Nifty 50 (IN)      2.49%
Shanghai (CN)      0.50%
TSX (CA)          -0.23%
ASX 200 (AU)      -0.91%
S&P 500           -5.10%
Nikkei 225 (JP)   -8.30%

Number of indexes (out of 10) beating S&P 500: 9

## Question 3. [Index] S&P 500 Market Corrections Analysis
Calculate the median duration (in days) of significant market corrections in the S&P 500 index.

## Question 4. [Stocks] Earnings Surprise Analysis for Amazon (AMZN)
Calculate the median 2-day percentage change in stock prices following positive earnings surprises days.